.sidedrawerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    min-width: 280px;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    display: none;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 2px 2px 12px 2px lightgray;
    border-radius: 0 5px 5px 0;
    transform: translate(-100%);
    transition: transform 0.4s ease-out;
    z-index: 700;
}

.sidedrawerContainer.on {
    transform: translate(0);
}

@media (max-width: 600px) {
    .sidedrawerContainer {
        display: flex;
    }
}