.modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 12px 2px rgb(121, 120, 120);
    width: 400px;
    box-sizing: border-box;
    z-index: 1000;
}

@media (max-width: 500px) {
    .modalContainer {
        width: 95%;
    }
}