.addPhotoContainer {
    position: relative;
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
}

.label {
    font-size: 13px;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input {
    width: 100%;
    height: 25px;
    border: 1px solid lightgray;
    padding: 0;
    padding-left: 5px;
    box-sizing: border-box;
    margin: 5px auto;
}

.btn {
    width: 100%;
    height: 28px;
    margin: 5px 0;
    border: 1px solid green;
    background-color: green;
    color: white;
    cursor: pointer;
}

.btn:disabled {
    opacity: 0.3;
    cursor: default;
}

.checkContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.statusDisplay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.removeBtn {
    width: 100%;
    height: 28px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid red;
}

@media (max-width: 550px) {
    .addPhotoContainer {
        flex-direction: column;
    }

    .inputs {
        width: 100%;
    }

    .checkContainer {
        top: 0;
        right: -100%;
    }
}